### Importing important libraries

In [1]:
import pandas as pd
import numpy as np

### Fetching data

In [3]:
data = pd.read_csv("data.csv")

### Viewing raw data

In [4]:
data.head()

,-NEvVDmqDFf6xyzEo2xs,21/10/2022 22:35:3 262 NAN NAN -147.93 132120.53 -1533.04 91.44 33.0
0,-NEvVHsZEvuKxWclFdDG,21/10/2022 22:35:16 262 NAN NAN -147.93 1321...
1,-NEvVLLc38WlQ81JgVAI,21/10/2022 22:35:34 263 NAN NAN -147.93 1321...
2,-NEvVP0b8QOKb1yV70m0,21/10/2022 22:35:46 288 NAN NAN -147.93 1321...
3,-NEvVT-mpoyBardw1Mtc,21/10/2022 22:36:4 267 NAN NAN -147.93 13212...
4,-NEvVWj5aQ-_tYBM6UYQ,21/10/2022 22:36:23 257 NAN NAN -147.93 1321...

### Removing first column

In [17]:
data = data.iloc[:,1:]

### Changing column name to Date

In [53]:
data.columns = ['Date']

### Splitting data

In [59]:
data = data['Date'].str.split(" ", expand=True)

### Dropping empty columns

In [61]:
data.drop(data.columns[[3,5]], axis=1, inplace=True)

### Changing column names

In [63]:
data.columns = [['Date','Time','AQI','Temp_in_C','Humidity','Temp_in_C','Baro_Pressure','Altitude','Temp_in_F','Temp_in_C']]

### Viewing updated dataset

In [64]:
data

,Date,Time,AQI,Temp_in_C,Humidity,Temp_in_C,Baro_Pressure,Altitude,Temp_in_F,Temp_in_C
0,21/10/2022,22:35:16,262,NAN,NAN,-147.93,132120.53,-1533.04,91.44,33.
0,21/10/2022,22:35:34,263,NAN,NAN,-147.93,132120.53,-1533.04,91.29,32.
2,21/10/2022,22:35:46,288,NAN,NAN,-147.93,132120.53,-1533.04,91.29,32.
3,21/10/2022,22:36:4,267,NAN,NAN,-147.93,132120.53,-1533.04,91.44,33.0
4,21/10/2022,22:36:23,257,NAN,NAN,-147.93,132120.53,-1533.04,91.44,33.
5,21/10/2022,22:36:35,264,NAN,NAN,-147.93,132120.53,-1533.04,91.44,33.
6,21/10/2022,22:36:53,280,NAN,NAN,-147.93,132120.53,-1533.04,91.44,33.
7,21/10/2022,22:37:5,269,NAN,NAN,-147.93,132120.53,-1533.04,91.29,32.9

### Saving the cleaned dataframe

In [65]:
data.to_csv('Newfile.csv',index=True, header=True)